<fieldset [disabled]="disabled" class="form-group mb-3">
  @if (label) {
    <label [attr.for]="name" class="control-label">
      {{ label }}
    </label>
  }

  <div class="input-group">
    @if (icon) {
      <span class="input-group-text">
        <fa-icon [icon]="icon"></fa-icon>
      </span>
    }

    <ng-content></ng-content>

    @if (errors && errors.length > 0) {
      @for (error of errors; track error.$uid) {
        <div class="invalid-feedback" >
          {{ error.$message }}
        </div>
      }
    }

<!--    @if (errors.length === 0) {-->
<!--      <div class="valid-feedback">-->
<!--        Success! You've done it.-->
<!--      </div>-->
<!--    }-->
  </div>
</fieldset>
