DB_DATABASE=time_reserve_local
DB_USERNAME=postgres
DB_PASSWORD=secret_local_pass

BACKEND_TARGET=development
#BACKEND_PORT_BINDING=9000:9000
#BACKEND_PROD_PROFILE=production-only

REACT_TARGET=development

ANGULAR_TARGET=development
