<nav class="navbar navbar-expand-lg bg-primary navbar-dark navbarAnimated">
  <div class="container-fluid">

    <a routerLink="/" class="navbar-brand">Time Reserve</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      id="navbarColor01"
      class="collapse navbar-collapse"
    >
      @if (isStaff()) {
        <ul class="navbar-nav me-auto">
          <nav-link to="staff/dashboard">Dashboard</nav-link>

          @if (auth.user()?.role === 'admin') {
            <nav-link to="staff/admin-appointments">Appointments</nav-link>
            <nav-link to="staff/categories">Categories</nav-link>
          }

          @if (auth.user()?.role === 'worker') {
            <nav-link to="staff/appointments">Appointments</nav-link>
            <nav-link to="staff/pending">Pending Request</nav-link>
            <nav-link to="staff/history">History</nav-link>
          }
        </ul>
      }
      @else {
        <ul class="navbar-nav me-auto">
          <nav-link to="/" [exact]="true">Home</nav-link>
          <nav-link to="/our-team">Our team</nav-link>
          <nav-link to="/services">Services</nav-link>
          <nav-link to="/my-appointments">My appointments</nav-link>
          <nav-link to="/about-us">About</nav-link>
          <nav-link to="/contact-us">Contact</nav-link>
        </ul>
      }


      @if (!auth.isAuthenticated()) {
        <ul class="navbar-nav ms-auto">
          <a routerLink="/login" class="btn btn-outline-light m-1">Login</a>
          <a routerLink="/sign-up" class="btn btn-outline-light m-1">Sign up</a>
        </ul>
      }

      @else {
        <div class="align-items-center d-flex">
          @if (auth.user()?.role !== 'client') {
            <span class="navbar-text me-2">Role: {{ auth.user()?.role }}</span>
          }
          <span class="navbar-text me-2">Email: {{ auth.user()?.email }}</span>
          <button class="btn btn-outline-light" (click)="onLogout()">Logout</button>
        </div>
      }
    </div>

  </div>
</nav>
