<nav class="navbar navbar-expand-lg bg-primary navbar-dark navbarAnimated">
  <div class="container-fluid">

    <a routerLink="/" class="navbar-brand">Time Reserve</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      id="navbarColor01"
      class="collapse navbar-collapse"
    >
      <ul class="navbar-nav me-auto">
        <nav-link to="/" [exact]="true">Home</nav-link>
        <nav-link to="/our-team">Our team</nav-link>
        <nav-link to="/services">Services</nav-link>
        <nav-link to="/my-appointments">My appointments</nav-link>
        <nav-link to="/about-us">About</nav-link>
        <nav-link to="/contact-us">Contact</nav-link>

        <nav-link to="/staff/dashboard">Dashboard</nav-link>
      </ul>

      @if (!auth.isAuthenticated()) {
        <ul class="navbar-nav ms-auto">
          <a routerLink="/login" class="btn btn-outline-light m-1">Login</a>
          <a routerLink="/sign-up" class="btn btn-outline-light m-1">Sign up</a>
        </ul>
      }
      @else {
        <div class="align-items-center d-flex">
          <span class="navbar-text me-2">{{ auth.user()?.email }}</span>
          <button class="btn btn-outline-light" (click)="onLogout()">Logout</button>
        </div>
      }
    </div>

  </div>
</nav>
