:global(:root) {
	--toastify-radius: 12px !important; /* По-заоблени ъгли за всички тостове */
}

:global(.Toastify__toast) {
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
	font-family: 'Segoe UI', Roboto, sans-serif;
	font-weight: 500;
}

:global(.Toastify__toast-body) {
	padding: 12px;
}